* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 0, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-italia {
        background-image: url('https://static.natuzzi.com/production/0118853_Natuzzi_Italia_Colle_1920.jpeg');
    }

    .bg-editions {
        background-image: url('https://static.natuzzi.com/production/0119595_gallery02-des.jpeg');
    }

    .bg-account {
        background-image: url('https://cdn.pixabay.com/photo/2023/04/20/06/31/sofa-7939061_1280.png');
    }
}